<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.estacio.com.persistencia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PrincipalSharedPreferencesActivity"
            android:label="@string/app_nameSharedPreferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrincipalInternalStorageActivity"
            android:label="@string/app_nameInternalStorage"></activity>
        <activity android:name=".PrincipalExternalStorageActivity"
            android:label="@string/app_nameExternalStorage"></activity>
        <activity android:name=".PrincipalSQLiteDatabaseActivity"
            android:label="@string/app_nameSQLLiteDatabase"></activity>
        <activity android:name=".PrincipalAdicionarSQLiteDatabaseActivity"
            android:label="@string/app_nameSQLLiteDatabaseAdicionar"></activity>
        <activity android:name=".PrincipalAtualizarSQLiteDatabaseActivity"
            android:label="@string/app_nameSQLLiteDatabaseAtualizar"></activity>
    </application>
</manifest>
